
.welcome{
background-color: pink

}
.info{
    background-color: rgb(0, 255, 42);
    padding:10px;
    margin-bottom:15px;
}
.info h1{
    background-color: brown;
}
.info span {
font-size: 30px;
font-weight:bold;
}
.info .info-header{
background-color: cadetblue;
}